/* style.css */

/* fonts */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Shrikhand', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Shrikhand&display=swap');
/* variables */

:root {
    /* colors */
    --red-accent: #e82a52;
    --red-dark: #9b0929;
    --grey-dark: #737373;
    --grey-dark-tp: rgba(115, 115, 115, 0.35);
    --grey-light: #d9d9d9;
    --grey-light-tp: rgba(217, 217, 217, 0.35);
    --black: #000000;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 400px;
}

/* .main-content {
    height: 100vh;
} */

h1 {
    font-family: 'Shrikhand', cursive;
}

/* unvisited link */

a:link {
    color: var(--red-dark);
    text-decoration: underline;
}

/* visited link */

a:visited {
    color: var(--red-dark);
}

/* mouse over link */

a:hover {
    color: var(--red-accent);
}

/* selected link */

a:active {
    color: var(--red-accent);
}

.container-two {
    min-height: 100%;
}

.row {
    margin: 0 auto;
}

.r-one__header {
    color: var(--red-accent);
    display: flex;
    margin-top: 0.5em;
}

.r-one__welcome {
    text-align: right;
    margin-top: 1em;
}

.r-one__welcome h1 {
    font-family: 'Shrikhand', cursive;
}

.account {
    display: flex;
    justify-content: flex-end;
}

#login, #logout, #register, .card-gallery, .editor {
    font-size: 0.9rem;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    margin-left: 1em;
    font-weight: 600;
}

#logout {
    display: none;
}

.container-two {
    margin-top: 4em;
}

.r-two__options {
    border-bottom: 2px solid var(--grey-light);
    padding-bottom: 2em;
}

label, .bg-label {
    font-weight: 600;
}

input[type=color] {
    width: 100%;
    display: block;
}

.arrows {
    color: var(--red-accent);
    font-weight: 800;
}

.or {
    text-decoration: underline;
    font-weight: 800;
}

.bg-container {
    margin-bottom: 2em;
}

.bg-options {
    display: flex;
    flex-wrap: wrap;
}

.bg-option {
    margin-left: 5px;
}

.bg-option img {
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.btn-dark {
    margin-top: 1em;
    background-color: var(--red-accent);
    border-color: var(--red-dark);
    /* width: 100%; */
    /* text-transform: uppercase; */
    /* letter-spacing: 3px; */
    /* padding: 10px; */
    /* font-weight: 500; */
}

.btn-dark:hover, .btn-dark:active {
    background-color: var(--red-dark);
}

.form-group {
    margin-bottom: 2em;
}

.container-three {
    margin-top: 3em;
}

.container-three__footer {
    /* border-top: 0.5px solid var(--grey-light); */
    /* padding-top: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__credit {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: right;
}

.footer__credit-sm {
    font-size: 0.6rem;
    font-weight: 300;
    text-align: right;
}

/* editor */

#editor-container {
    border: 1px solid red;
}

.editor-container {
    min-height: 800px;
}

.card-viewer-container {
    padding: 0 3em;
}

#editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    background: var(--grey-light-tp);
    margin-top: 25px;
    padding: 5em 0;
    width: 100%;
    max-width: 1200px;
    background-position: center;
    object-fit: cover;
}

#editor-message {
    display: block;
    padding: 2.5em 3em 2em 3em;
    font-weight: 700;
    background-color: var(--grey-dark-tp);
}

.viewer__custom-greeting {
    display: block;
    margin-top: -70px;
    padding: 2.5em 3em 2em 3em;
    width: 100%;
}

#editor-greeting h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 3.5rem;
}

#editor-message p {
    text-align: center;
}

.col-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--grey-light-tp);
}

.register__welcome-msg {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.register__cta {
    padding-right: 1.5em;
}

.form-container {
    background: var(--grey-light-tp);
    max-width: 600px;
    margin: auto;
}

#registration-form, #login-form {
    padding: 4em 4em;
}

.login-container, .register-container, .container-app-info {
    margin-top: 3em;
}

.row-app-info {
    display: flex;
    /* background: grey; */
    padding: 3em 3em;
}

.outline-btn {
    background-color: white;
    color: var(--red-accent);
    border: 1px solid var(--red-accent);
}

.btn-app-info {
    padding: 0.5em;
    min-width: 170px;
    margin: 5px 1em;
}

.btn-dark:hover, .btn-dark:active {
    background-color: var(--red-dark);
}

.app-info-text {
    border-right: 2px solid var(--grey-light-tp);
    align-self: flex-end;
}

.call-to-action {
    padding: 1em;
}

.call-to-action h1 {
    font-size: 1.3rem;
}

[data-username] {
    display: none;
}

.bad-username {
    display: inline;
    margin-left: 0.25em;
    color: red;
    font-size: 0.7rem;
}

#showPassword {
    text-align: right;
    font-size: 0.7rem;
    text-decoration: underline;
}

.user-greet {
    font-weight: 500;
    font-size: 2rem;
    margin: 0 0 1em 0;
    color: var(--red-accent);
}

.saveAndShareSuccess {
    margin: 1em 0;
    padding: 0.25em 0.5em;
    /* color: var(--red-dark); */
    background: var(--grey-light-tp);
    border: 1px solid var(--red-dark);
    font-size: 0.8rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .r-two__options {
        border-right: 2px solid var(--grey-light-tp);
        padding-right: 2em;
        border-bottom-style: none;
    }
    #editor {
        height: 100%;
        padding: 0;
        margin-top: 0;
    }
    #editor-greeting h1 {
        font-size: 5rem;
    }
    #editor-message p {
        font-weight: 600;
        font-size: 1.2rem;
    }
    #editor-message {
        padding: 3.5em 6.5em 3em 6.5em;
        margin: 0;
        width: 100%;
    }
}